/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  border-bottom: 2px solid #c5c5c5;
  color: deepskyblue;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #1565C0;
}

p {
  line-height: 1.6em;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  padding: 2em 3em;
  margin: auto;
  max-width: 1200px;
}

.indent {
  margin-left: 2em;
}

.item-button {
  margin-right: 0.5em;
}

.item-title {
  margin-right: 0.5em;
  width: 400px;
}

.line {
  border-bottom: 2px solid #c5c5c5;
  margin-bottom: 2em;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

.record {
  margin-bottom: 3em;
}
